@import "../../../styles/mixins";
@import "../../../styles/vars";

.sectionWorks {


}

.sectionWorks__container {
    @include padding__safe;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionWorks__text {

}

.sectionWorks__slider {
    padding: 50px;
    box-sizing: content-box;
    width: 700px;
}


.sectionWorks__slide {
    // z-index: 2;
    opacity: 0;
    transition: ease $animation-duration__main;
    top: 0;
    left: 0;
    @include box-shadow__main;
    border-radius: $border-radius__block;
    // @include gradient__background;
    overflow: hidden;
    div {
        overflow: hidden;
        width: 320px;
        height: 370px;
        img {
            object-fit: cover;
        }
    }
}
