@import "../../../styles/mixins";
@import "../../../styles/vars";

.sectionAnswers__container {
    @include padding__safe;
    display: flex;
    // align-items: center;
    justify-content: space-between;
}

.sectionAnswers__lists {
    ul {
        li:not(:last-child) {
            margin-bottom: 15px;
        }   
    }
}
