@import "../../../styles/mixins";
@import "../../../styles/vars";

.sectionInfo {

}

.sectionInfo__title {
    text-align: right;
}

.sectionInfo__container {
    @include padding__safe;

}

.sectionInfo__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionInfo__service {
    @include gradient__background;
    border-radius: $border-radius__block;
    padding: $padding__block;
    width: 400px;
    ul {
        li:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    h2 {
        @include title__h2;
        @include gradient__text;
        margin-bottom: 20px;
    }

    p {
        @include paragraph__p2($font-color__sublight);
        line-height: 20px;
    }
}

.sectionInfo__order {
    width: 400px;
    li:not(:last-child) {
        margin-bottom: 40px;
    }
    li {
        @include paragraph__p2;
        // position: relative;
        span {
            margin-right: 30px;
            position: relative;
            &::before {
                content: "";
                // background-color: red;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
                border: solid 2px $background-color__subdark;
                border-radius: 50%;
            }
        }
    }
}