@import "../../../styles/mixins";
@import "../../../styles/vars";

.sectionAnswers__container {
    @include padding__safe;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    overflow: visible;
    position: relative;
}

.sectionAnswers__lists {
    ul {
        li:not(:last-child) {
            margin-bottom: 15px;
        }   
    }
}

.sectionAnswers__backPointers {
    right: 120px;
    transform: translate(0, 100px);
    background: url("/img/pages/index/lines.svg");
}