@import "../../../styles/mixins";
@import "../../../styles/vars";

.sectionTextFullstack {

}

.sectionTextFullstack__container {
    @include padding__safe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 500px;
}

.sectionTextFullstack__images {
 
}

.sectionTextFullstack__backText {
    top: -120px;
    left: -160px;

}

.sectionTextFullstack__img {

}

@media (min-width: 1200px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    .sectionTextFullstack__images {
        margin-bottom: 150px;
    }
    .sectionTextFullstack__container {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}
// При повороте экрана
@media (orientation: landscape) and (max-height: 300px) {

   
}