// Background 
    // color
$background-color__dark:      #3c3e49;
$background-color__subdark:   #595969;
$background-color__light:     #ffffff;
$background-color__sublight:  #acaccb;
$background-color__accent:    #ff4420; 

// Font
    // color
$font-color__dark:     #3c3e49;
$font-color__subdark:  #595969;
$font-color__light:    #ffffff;      
$font-color__sublight: #acaccb;    
$font-color__accent:   #ff4420;    

// Box
    // padding
$padding__block: 50px;
$padding__smblock: 10px;
    // border
$border__main: 1px solid rgba(0,0,0,.2);
    // radius
$border-radius__smblock: 16px;
$border-radius__block: 32px;
    // shadow
$box-shadow__main: 0 0 5px rgba(0,0,0,.2);

// Animation
$animation-duration__main: 1s;

// Hover
$transition-duration__hover: .3s;








