@import "../../styles/vars";
@import "../../styles/mixins";

.footer {
    // @include box-shadow__main;
    // @include gradient__background;
}
.footer._section {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.footer__container {
    @include padding__safe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.footer__text {
    h1 {
        @include title__h1;
        @include gradient__text;
    }
    h2 {
        @include paragraph__p2;
    }
    p {
        @include paragraph__p3();
    }
    div {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span:not(:last-child) {
            margin-right: 20px; 
            
        }
        span {
            @include title__h2;
        }
    }
}

.footer__form {

}

.footer__sphere {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 600px;
    height: 200px;
}

@media (max-width: 1000px) {
    
    .footer__text {
        margin-bottom: 20px;
        width: 300px;
    }
    .footer__container {
        flex-direction: column;
        text-align: center;
    
    }
}