@import "../../styles/vars";
@import "../../styles/mixins";

.header {
    @include gradient__background;
    @include box-shadow__main;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 35%;
        height: 100%;
        background-color: $background-color__light;
        z-index: -1;
        // border-radius: 0 32px 32px 0;
        // box-shadow: $box-shadow__main;
    }
}

.header__logo {
    display: flex;
    cursor: pointer;
    background-color: $background-color__light;
    height: 100%;
    align-items: center;
    img {
        width: 40px;
    }

    .header__text {
        margin-left: 15px;
        max-width: 130px;
        
        h2 {
            @include paragraph__p1($font-color__dark, $weight: 600);
            @include gradient__text;
            span {
                font-size: 1.4rem;
                color: $font-color__subdark;
                -webkit-text-fill-color: $font-color__subdark;
            }
        }


    }
}

.header__slider {
    width: 100%;
    p {
        @include paragraph__p3($font-color__subdark, 500);
        white-space: nowrap;
        background-color: $background-color__light;
    }
}

.header__container {
    @include padding__safe; 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header__nav {
    display: flex;
    align-items: center;

}

.header__list {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    margin-right: 70px;
    li {
        @include paragraph__p3($font-color__sublight, 500);
        transition: ease $transition-duration__hover;
        // font-size: 3rem;
        // height: 30px;
        // text-align: end;
        
    }
    li:not(:last-child) {
        margin-right: 30px;
    }
    a {
        color: inherit;
    }

}

@media(pointer: fine) {
    .header__list {
        li:hover {
            color: $font-color__light;
        }
    }
}

.header__burger {

    .burger__flag {
        @include gradient__accent(180deg);

        border-radius: 0 0 $border-radius__block $border-radius__block;
        transition: ease $transition-duration__hover;
        position: absolute;
        z-index: 0;
        top: -100%;
        left: -50%;
        padding: 0 10px;
        box-sizing: content-box;
        width: 100%;
        height: 53px;


    }
}

@media(pointer: fine) {
    .header__burger:hover {

        &::before, &::after, span {
            background-color: $background-color__light;
            width: 100%;
        }
        .burger__flag {
            height: 75px;
        }

    }
}

.header__burger._active {
    &::before, &::after, span {
        background-color: $background-color__light;
        width: 100%;
    }
    span {
        opacity: 0;
    }
    &::before {
        top: 50%;
        transform: translate(0, -50%) rotate(-45deg) ;
    }
    &::after {
        bottom: 50%;
        transform: translate(0, 50%) rotate(45deg) ;
    }

    .burger__flag {
        height: 75px;
    }
}   

@media (max-width: 700px) {
    .header__list {
        display: none;
    }
}


@media (min-width: 1200px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}
// При повороте экрана
@media (orientation: landscape) and (max-height: 300px) {

   
}

