@import "../../styles/vars";
@import "../../styles/mixins";

.loading {

    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: none;
        
    .loading__back {
        @include gradient__accent(131deg);
        width: 100%;
        height: 100%;
        position: fixed;
        animation: loadingShowBack $animation-duration__main + 1s ease;
        display: none;
        transform: translate(-100%);
    }

    .loading__front {
        @include gradient__background($deg: 70deg);
        transform: translate(-100%);
        width: 100%;
        height: 100%;
        // opacity: .5;
        animation: loadingShow $animation-duration__main + 1s ease;
        display: none;
        align-items: center;
        justify-content: center;
        div {
            width: 100px;
            height: 100px;
        }
    }

    &._active {
        pointer-events: all;
        .loading__front {
            display: flex;
        }
        .loading__back {
            display: block;
        }
    }

}

@keyframes loadingShow {
    0% {
        transform: translate(-100%, 0);
    }
    30% {
        transform: translate(0, 0);
    }
    70% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

@keyframes loadingShowBack {
    0% {
        transform: translate(-100%, 0);
    }
    20% {
        transform: translate(0, 0);
    }
    80% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}